*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans';
}

header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header'
  'main main main main main'
  'footer footer footer footer footer';
  gap: 10px;
}

.grid-container main{
  text-align: center;
}

a:hover{
    cursor: pointer;
}


h1, h2{
    font-weight: 400;
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 40px;
}






hr{
    margin: 1em 0;
    border: solid lightgray 2px;
    background-color: lightgray;
    margin-top: 15px;
}

.container-rodape{
    padding: 5px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: steelblue;
    border: solid black 1px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: black;
}


.icones{
    margin-left: 5px;
}

.icones:hover{
    filter: invert(70%);
} 


.descricao{
    font-size: 18px;
}


.cabecalho{
    padding-top: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 31, 31);
    border-bottom: solid steelblue 4px;
    color: rgb(225, 224, 224); 
    margin-bottom: 10px;
}

.tituloModal{
    font-family: Arial;
    color: rgb(39, 36, 36);
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

  .close {
    margin-left: 90%;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover {
    color: #000;
    cursor: pointer;
  }

label, input[type=button]{
    margin-left: 10px;
  } 

.modal {
    display: none;
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
  }

input[tipo=automatico], button[tipo=automatico]{
    display: none;
}

p{
    font-size: 16px;
    margin-top: 10px;
}

textarea{
    font-size: 17px;
}

.container{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.formPrincipal-criacao{
    width: 650px;
    height: 450px;
    border-radius: 2%;
    background-color: white;
}

.formPrincipal-edicao{
    width: 650px;
    height: 400px;
    border-radius: 2%;
    background-color: white;
}

.formPrincipal-verificacao{
    width: 650px;
    height: 550px;
    border-radius: 2%;
    background-color: white;
}

.content-form{
    margin: 50px 50px 50px 100px;
}

.agrupamentos{
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

#btnSalvar{
    margin-left: 65px;
    width: 80%;
}

@media (max-width: 980px){
    #btnSalvar{
        width: 68%;
    }
    #btnVerificarModal{
        width: 73% !important;
    }
}


#btnVerificarModal{
    width: 85%;
}

button, a{
    border-width: 2px !important;
}


th {
    width: 500px;
} 

th, td{
    font-size: 18px;
}